<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.appzonegroup.creditclub.pos">

    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.TELPO_ICC " />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_FRAMEBUFFER" />
    <uses-permission
        android:name="android.permission.CAPTURE_VIDEO_OUTPUT"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_APN_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.appzonegroup.creditclub.pos.TerminalOptionsActivity"
            android:label="Terminal Options"
            android:parentActivityName="com.appzonegroup.creditclub.pos.CardMainMenuActivity" />
        <activity
            android:name="com.appzonegroup.creditclub.pos.MenuActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.appzonegroup.creditclub.pos.CardWithdrawalActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:label="Make Payment"
            android:launchMode="singleTask"
            android:parentActivityName="com.appzonegroup.creditclub.pos.CardMainMenuActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.appzonegroup.creditclub.pos.ReversalActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:label="Reversal"
            android:launchMode="singleTask"
            android:parentActivityName="com.appzonegroup.creditclub.pos.ReversalActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.appzonegroup.creditclub.pos.BalanceInquiryActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:label="Balance Inquiry"
            android:launchMode="singleTask"
            android:parentActivityName="com.appzonegroup.creditclub.pos.CardMainMenuActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.appzonegroup.creditclub.pos.RefundActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:label="Refund"
            android:launchMode="singleTask"
            android:parentActivityName="com.appzonegroup.creditclub.pos.CardMainMenuActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.appzonegroup.creditclub.pos.SalesCompleteActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:label="Sales Completion"
            android:launchMode="singleTask"
            android:parentActivityName="com.appzonegroup.creditclub.pos.CardMainMenuActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.appzonegroup.creditclub.pos.PreAuthActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:label="Pre Auth"
            android:launchMode="singleTask"
            android:parentActivityName="com.appzonegroup.creditclub.pos.CardMainMenuActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.appzonegroup.creditclub.pos.CashBackActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:label="Cash Back"
            android:launchMode="singleTask"
            android:parentActivityName="com.appzonegroup.creditclub.pos.CardMainMenuActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.appzonegroup.creditclub.pos.CashAdvanceActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:label="Cash Advance"
            android:launchMode="singleTask"
            android:parentActivityName="com.appzonegroup.creditclub.pos.CardMainMenuActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.appzonegroup.creditclub.pos.UnsettledTransactionsActivity"
            android:exported="true"
            android:label="Pending Confirmations"
            android:parentActivityName="com.appzonegroup.creditclub.pos.CardMainMenuActivity" />
        <activity
            android:name="com.appzonegroup.creditclub.pos.ReprintMenuActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.appzonegroup.creditclub.pos.ReprintAnyActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>