<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.nexgo">

    <dist:module dist:title="@string/module_nexgo">
        <dist:delivery>
            <dist:on-demand/>
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>

    <application android:hasCode="true">
        <provider
            android:name="com.nexgo.n3.N3PosManagerProvider"
            android:authorities="${applicationId}.n3.N3PosManagerProvider"
            android:enabled="true"
            android:exported="false" />
    </application>
</manifest>