[submodule "core"]
	path = core
	url = git@bitbucket.org:appzonegroup/creditclub.staticapps.common.git
	branch = Development
[submodule "pos"]
	path = pos
	url = git@bitbucket.org:appzonegroup/creditclub.posapp.library.git
	branch = Development
[submodule "ui"]
	path = ui
	url = git@bitbucket.org:appzonegroup/creditclub.consolidated.uicentral.git
	branch = Development
