<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pos.providers.wizar">

    <uses-permission android:name="android.permission.CLOUDPOS_MSR" />
    <uses-permission android:name="android.permission.CLOUDPOS_PRINTER" />
    <uses-permission android:name="android.permission.CLOUDPOS_SMARTCARD" />
    <uses-permission android:name="android.permission.CLOUDPOS_CONTACTLESS_CARD" />
    <uses-permission android:name="android.permission.CLOUDPOS_PIN_GET_PIN_BLOCK" />
    <uses-permission android:name="android.permission.CLOUDPOS_PIN_MAC" />
    <uses-permission android:name="android.permission.CLOUDPOS_PIN_ENCRYPT_DATA" />
    <uses-permission android:name="android.permission.CLOUDPOS_PIN_UPDATE_MASTER_KEY" />
    <uses-permission android:name="android.permission.CLOUDPOS_PIN_UPDATE_USER_KEY" />
    <uses-permission android:name="android.permission.CLOUDPOS_LED" />
    <uses-permission android:name="android.permission.CLOUDPOS_SAFE_MODULE" />
    <uses-permission android:name="android.permission.CLOUDPOS_HIDE_STATUS_BAR" />
    <uses-permission android:name="android.permission.WIZARPOS_PIN_LOAD_KEY" />

    <application>
        <provider
            android:name=".WizarPosManagerProvider"
            android:authorities="${applicationId}.WizarPosManagerProvider"
            android:enabled="true"
            android:exported="false" />
    </application>
</manifest>