<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.creditclub.pos.providers.newland">

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MANAGE_NEWLAND" />
    <application>
        <provider
            android:name="com.creditclub.pos.providers.newland.NewlandPosManagerProvider"
            android:authorities="${applicationId}.NewlandPosManagerProvider"
            android:enabled="true"
            android:exported="false"
            />
        <activity
            android:name=".pin.KeyBoardNumberActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>
</manifest>