<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.temp.creditclub.pos.providers.sunmi">

    <application>
        <provider
            android:name=".SunmiPosManagerProvider"
            android:authorities="${applicationId}.SunmiPosManagerProvider"
            android:enabled="true"
            android:exported="false" />
    </application>
</manifest>