<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.appzonegroup.app.fasttrack">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PROFILE" />

    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".BankOneApplication"
        android:allowBackup="false"
        android:extractNativeLibs="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="${usesCleartextTraffic}"
        tools:replace="extractNativeLibs"
        tools:targetApi="n">
        <activity
            android:name=".MainActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FaqActivity"
            android:label="@string/title_activity_faq"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BannerActivity"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appzonegroup.app.fasttrack.LoginActivity" />
        </activity>
        <activity
            android:name=".HlaTaggingActivity"
            android:label="@string/title_activity_hla_tagging"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SupportThreadActivity"
            android:label="@string/support"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SupportActivity"
            android:label="@string/support"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appzonegroup.app.fasttrack.MainActivity" />
        </activity>
        <activity
            android:name=".CaseLogActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AirtimeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Menu2Activity"
            android:label="@string/home" />
        <activity
            android:name=".OpenAccountActivity"
            android:label="@string/title_activity_open_account"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appzonegroup.app.fasttrack.Menu2Activity" />
        </activity>
        <activity
            android:name=".AirtimeTopupActivity"
            android:label="@string/airtimetopup"
            android:parentActivityName=".Menu3Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appzonegroup.app.fasttrack.Menu3Activity" />
        </activity>
        <activity
            android:name=".BillsCategoryActivity"
            android:label="@string/Categories"
            android:parentActivityName=".Menu3Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appzonegroup.app.fasttrack.Menu3Activity" />
        </activity>
        <activity
            android:name=".ReportActivity"
            android:label="@string/reports"
            android:parentActivityName=".Menu3Activity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appzonegroup.app.fasttrack.Menu3Activity" />
        </activity>
        <activity
            android:name=".FundsTransferActivity"
            android:label="@string/fund_stransfer"
            android:parentActivityName=".Menu3Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appzonegroup.app.fasttrack.Menu3Activity" />
        </activity>
        <activity
            android:name=".BillPaymentActivity"
            android:label="@string/billpayment"
            android:parentActivityName=".BillerItemActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appzonegroup.app.fasttrack.BillerActivity" />
        </activity>
        <activity
            android:name=".BillerActivity"
            android:label="@string/billpayment"
            android:parentActivityName=".BillsCategoryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appzonegroup.app.fasttrack.BillsCategoryActivity" />
        </activity>
        <activity
            android:name=".BillerItemActivity"
            android:label="@string/billerItem"
            android:parentActivityName=".BillerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appzonegroup.app.fasttrack.BillerActivity" />
        </activity>
        <activity
            android:name=".DepositActivity"
            android:label="Cash Deposit"
            android:parentActivityName=".Menu2Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appzonegroup.app.fasttrack.Menu2Activity" />
        </activity>
        <activity
            android:name=".WithdrawActivity"
            android:label="Cash Withdrawal"
            android:parentActivityName=".Menu2Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appzonegroup.app.fasttrack.Menu2Activity" />
        </activity>
        <activity android:name=".BOILoanRequestActivity" />
        <activity
            android:name=".CreditClubLoanRequestActivity"
            android:label="@string/title_activity_loan_request"
            android:parentActivityName=".Menu3Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appzonegroup.app.fasttrack.Menu3Activity" />
        </activity>
        <activity
            android:name=".BalanceEnquiryActivity"
            android:label="Balance Enquiry"
            android:parentActivityName=".Menu3Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appzonegroup.app.fasttrack.Menu3Activity" />
        </activity>
        <activity
            android:name=".AccountDetailsActivity"
            android:label="Customer Account Balance"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appzonegroup.app.fasttrack.MainActivity" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".AgentActivationActivity"
            android:label="@string/agentSetup" />

        <activity
            android:name=".BVNUpdateActivity"
            android:label="@string/title_activity_bvnUpdate"
            android:parentActivityName=".Menu2Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appzonegroup.app.fasttrack.Menu2Activity" />
        </activity>
        <activity
            android:name=".Menu3Activity"
            android:label="@string/title_activity_menu3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WithdrawalByTokenActivity"
            android:label="@string/withdrawal_by_token"
            android:parentActivityName=".Menu3Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appzonegroup.app.fasttrack.Menu3Activity" />
        </activity>
        <activity
            android:name="com.creditclub.ui.UpdateActivity"
            android:label="@string/update"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CardHotlistActivity"
            android:label="@string/title_activity_card_hotlist"
            android:parentActivityName=".Menu3Activity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appzonegroup.app.fasttrack.Menu3Activity" />
        </activity>
        <activity
            android:name=".TokenCashOutActivity"
            android:label="@string/title_activity_token_cash_out"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appzonegroup.app.fasttrack.Menu3Activity" />
        </activity>
        <activity
            android:name=".CashoutMainMenuActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CustomerRequestOpenAccountActivity"
            android:label="@string/title_activity_open_account"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appzonegroup.app.fasttrack.MainActivity" />
        </activity>
        <activity
            android:name=".WithdrawalByAPITokenActivity"
            android:label="@string/title_activity_withdrawal_by_apitoken"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChangePinActivity"
            android:label="@string/pin_change">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appzonegroup.app.fasttrack.MainActivity" />
        </activity>
        <activity
            android:name=".ChangeCustomerPinActivity"
            android:label="@string/change_customer_pin"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".OnlineActivity"
            android:label="@string/online_functions"
            android:parentActivityName=".MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appzonegroup.app.fasttrack.MainActivity" />
        </activity>
        <activity
            android:name=".MiniStatementActivity"
            android:label="@string/title_activity_basic_mini_statement"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appzonegroup.app.fasttrack.MainActivity" />
        </activity>
        <activity
            android:name=".CommissionsActivity"
            android:label="@string/title_activity_commissions_statement"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appzonegroup.app.fasttrack.MainActivity" />
        </activity>
        <activity
            android:name=".NewWalletActivity"
            android:label="@string/title_activity_new_wallet"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appzonegroup.app.fasttrack.MainActivity" />
        </activity>
        <activity
            android:name="com.appzonegroup.creditclub.pos.TerminalOptionsActivity"
            android:label="Terminal Options" />
        <activity
            android:name="com.appzonegroup.creditclub.pos.CardMainMenuActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
            <intent-filter>
                <action android:name="com.appzonegroup.creditclub.pos.CARD_MENU" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PAY_APP" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.appzonegroup.creditclub.pos.MenuActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.appzonegroup.creditclub.pos.CardWithdrawalActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Make Payment"
            android:launchMode="singleTask"
            android:parentActivityName="com.appzonegroup.creditclub.pos.CardMainMenuActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.appzonegroup.creditclub.pos.ReversalActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Reversal"
            android:launchMode="singleTask"
            android:parentActivityName="com.appzonegroup.creditclub.pos.ReversalActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.appzonegroup.creditclub.pos.BalanceInquiryActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Balance Inquiry"
            android:launchMode="singleTask"
            android:parentActivityName="com.appzonegroup.creditclub.pos.CardMainMenuActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.appzonegroup.creditclub.pos.RefundActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Refund"
            android:launchMode="singleTask"
            android:parentActivityName="com.appzonegroup.creditclub.pos.CardMainMenuActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.appzonegroup.creditclub.pos.SalesCompleteActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Sales Completion"
            android:launchMode="singleTask"
            android:parentActivityName="com.appzonegroup.creditclub.pos.CardMainMenuActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.appzonegroup.creditclub.pos.PreAuthActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Pre Auth"
            android:launchMode="singleTask"
            android:parentActivityName="com.appzonegroup.creditclub.pos.CardMainMenuActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.appzonegroup.creditclub.pos.CashBackActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Cash Back"
            android:launchMode="singleTask"
            android:parentActivityName="com.appzonegroup.creditclub.pos.CardMainMenuActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.appzonegroup.creditclub.pos.CashAdvanceActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Cash Advance"
            android:launchMode="singleTask"
            android:parentActivityName="com.appzonegroup.creditclub.pos.CardMainMenuActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.appzonegroup.creditclub.pos.UnsettledTransactionsActivity"
            android:label="Pending Confirmations"
            android:parentActivityName="com.appzonegroup.creditclub.pos.CardMainMenuActivity" />
        <activity
            android:name="com.appzonegroup.creditclub.pos.ReprintMenuActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.appzonegroup.creditclub.pos.ReprintAnyActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.esafirm.imagepicker.features.ImagePickerActivity"
            android:theme="@style/AppTheme.NoActionBar"
            tools:replace="android:theme" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver
            android:name=".NotificationReceiver"
            android:enabled="true"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.imagepicker.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:authorities="${applicationId}.workmanager-init"
            tools:node="remove" />
    </application>

</manifest>