<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.appzonegroup.app.fasttrack">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />

    <application
        android:allowBackup="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="${usesCleartextTraffic}"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Menu2Activity"
            android:label="@string/home" />
        <activity
            android:name=".OpenAccountActivity"
            android:label="@string/title_activity_open_account"
            android:parentActivityName=".CreditClubMainMenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:replace="android:parentActivityName">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appzonegroup.app.fasttrack.Menu2Activity" />
        </activity>

        <activity
            android:name=".AgentSigninActivity"
            android:label="@string/sign_in_menu"
            android:parentActivityName=".Menu2Activity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appzonegroup.app.fasttrack.Menu2Activity" />
        </activity>
        <activity
            android:name=".AirtimeTopupActivity"
            android:label="@string/airtimetopup"
            android:parentActivityName=".Menu3Activity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appzonegroup.app.fasttrack.Menu3Activity" />
        </activity>
        <activity
            android:name=".BillsCategoryActivity"
            android:label="@string/Categories"
            android:parentActivityName=".Menu3Activity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appzonegroup.app.fasttrack.Menu3Activity" />
        </activity>
        <activity
            android:name=".DetailsActivity"
            android:label="@string/details"
            android:parentActivityName=".LoanRequestReportActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appzonegroup.app.fasttrack.LoanRequestReportActivity" />
        </activity>
        <activity
            android:name=".ReportActivity"
            android:label="@string/reports"
            android:parentActivityName=".Menu3Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appzonegroup.app.fasttrack.Menu3Activity" />
        </activity>
        <activity
            android:name=".FundsTransferActivity"
            android:label="@string/fund_stransfer"
            android:parentActivityName=".Menu3Activity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appzonegroup.app.fasttrack.Menu3Activity" />
        </activity>
        <activity
            android:name=".BillPaymentActivity"
            android:label="@string/billpayment"
            android:launchMode="singleInstance"
            android:parentActivityName=".BillerItemActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appzonegroup.app.fasttrack.BillerActivity" />
        </activity>
        <activity
            android:name=".BillerActivity"
            android:label="@string/billpayment"
            android:parentActivityName=".BillsCategoryActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appzonegroup.app.fasttrack.BillsCategoryActivity" />
        </activity>
        <activity
            android:name=".BillerItemActivity"
            android:label="@string/billerItem"
            android:parentActivityName=".BillerActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appzonegroup.app.fasttrack.BillerActivity" />
        </activity>
        <activity
            android:name=".BeneficiariesActivity"
            android:label="@string/cct"
            android:parentActivityName=".Menu3Activity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appzonegroup.app.fasttrack.Menu3Activity" />
        </activity>
        <activity
            android:name=".BeneficiaryDetailActivity"
            android:label="@string/cct"
            android:parentActivityName=".Menu3Activity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appzonegroup.app.fasttrack.Menu3Activity" />
        </activity>
        <activity
            android:name=".DepositActivity"
            android:label="Cash Deposit"
            android:parentActivityName=".Menu2Activity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appzonegroup.app.fasttrack.Menu2Activity" />
            <!--
 ATTENTION: This intent was auto-generated. Follow instructions at
  https://g.co/AppIndexing/AndroidStudio to publish your URLs.
            -->
            <!--
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                &lt;!&ndash;
                  ATTENTION: This data URL was auto-generated. We recommend that you use the HTTP scheme.
                  TODO: Change the host or pathPrefix as necessary.
                &ndash;&gt;
                <data
                    android:host="[ENTER-YOUR-HTTP-HOST-HERE]"
                    android:pathPrefix="/depositwithdraw"
                    android:scheme="http" />
            </intent-filter>
            -->
            <!--
 ATTENTION: This intent was auto-generated. Follow instructions at
  https://g.co/AppIndexing/AndroidStudio to publish your URLs.
            -->
            <!--
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                &lt;!&ndash;
                  ATTENTION: This data URL was auto-generated. We recommend that you use the HTTP scheme.
                  TODO: Change the host or pathPrefix as necessary.
                &ndash;&gt;
                &lt;!&ndash;<data
                    android:host="[ENTER-YOUR-HTTP-HOST-HERE]"
                    android:pathPrefix="/depositwithdraw"
                    android:scheme="http" />&ndash;&gt;
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".WithdrawActivity"
            android:label="Cash Withdrawal"
            android:parentActivityName=".Menu2Activity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appzonegroup.app.fasttrack.Menu2Activity" />
        </activity>
        <activity
            android:name=".WithdrawOTPActivity"
            android:label="@string/otp_validation"
            android:parentActivityName=".Menu2Activity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appzonegroup.app.fasttrack.Menu2Activity" />
        </activity>
        <activity
            android:name=".BOILoanRequestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreditClubLoanRequestActivity"
            android:label="@string/title_activity_loan_request"
            android:parentActivityName=".Menu3Activity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appzonegroup.app.fasttrack.Menu3Activity" />
        </activity>
        <activity
            android:name=".BalanceEnquiryActivity"
            android:label="Balance Enquiry"
            android:parentActivityName=".Menu3Activity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appzonegroup.app.fasttrack.Menu3Activity" />
        </activity>
        <activity
            android:name=".AccountDetailsActivity"
            android:label="Customer Account Balance"
            android:parentActivityName=".CreditClubMainMenuActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appzonegroup.app.fasttrack.CreditClubMainMenuActivity" />
        </activity>
        <activity
            android:name=".PayBillOTPActivity"
            android:label="OTP Required"
            android:parentActivityName=".BillPaymentActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appzonegroup.app.fasttrack.BillPaymentActivity" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".AgentActivationActivity"
            android:label="@string/agentSetup"
            android:screenOrientation="portrait" />

        <service
            android:name=".utility.SyncService"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service android:name=".utility.TrackGPS" />

        <receiver android:name=".utility.MyReceiver" />

        <activity
            android:name=".BVNUpdateActivity"
            android:label="@string/title_activity_bvnUpdate"
            android:parentActivityName=".Menu2Activity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appzonegroup.app.fasttrack.Menu2Activity" />
        </activity>
        <activity
            android:name=".DataLoaderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoanRequestReportActivity"
            android:label="@string/loanRequestReport"
            android:parentActivityName=".Menu2Activity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appzonegroup.app.fasttrack.Menu2Activity" />
        </activity>
        <activity
            android:name=".Menu3Activity"
            android:label="@string/title_activity_menu3"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".DepositReportActivity"
            android:label="Deposit"
            android:parentActivityName=".CreditClubMainMenuActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".WithdrawalReportActivity"
            android:label="@string/withdraw"
            android:parentActivityName=".CreditClubMainMenuActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".AccountOpeningReportActivity"
            android:label="@string/title_activity_open_account"
            android:parentActivityName=".CreditClubMainMenuActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="5ae667395ec4429e5d7caaf22b1516debe8b386a" />

        <activity
            android:name=".WithdrawalByTokenActivity"
            android:label="@string/withdrawal_by_token"
            android:parentActivityName=".Menu3Activity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appzonegroup.app.fasttrack.Menu3Activity" />
        </activity>
        <activity
            android:name=".CardBasedWithdrawalActivity"
            android:label="@string/withdrawal_by_card"
            android:parentActivityName=".Menu3Activity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appzonegroup.app.fasttrack.Menu3Activity" />
        </activity>
        <activity
            android:name=".CardBasedWithdrawalActivity2"
            android:label="@string/withdrawal_by_card"
            android:parentActivityName=".Menu3Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appzonegroup.app.fasttrack.Menu3Activity" />
        </activity>
        <activity
            android:name=".CardReaderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <activity
            android:name="com.appzonegroup.creditclub.pos.TerminalOptionsActivity"
            android:label="Terminal Options"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.appzonegroup.creditclub.pos.UpdateActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.appzonegroup.creditclub.pos.CardMainMenuActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.appzonegroup.creditclub.pos.MenuActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.appzonegroup.creditclub.pos.CardWithdrawalActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:label="Make Payment"
            android:launchMode="singleTask"
            android:parentActivityName="com.appzonegroup.creditclub.pos.CardMainMenuActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.appzonegroup.creditclub.pos.ReversalActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:label="Reversal"
            android:launchMode="singleTask"
            android:parentActivityName="com.appzonegroup.creditclub.pos.ReversalActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.appzonegroup.creditclub.pos.BalanceInquiryActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:label="Balance Inquiry"
            android:launchMode="singleTask"
            android:parentActivityName="com.appzonegroup.creditclub.pos.CardMainMenuActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.appzonegroup.creditclub.pos.RefundActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:label="Refund"
            android:launchMode="singleTask"
            android:parentActivityName="com.appzonegroup.creditclub.pos.CardMainMenuActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.appzonegroup.creditclub.pos.SalesCompleteActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:label="Sales Completion"
            android:launchMode="singleTask"
            android:parentActivityName="com.appzonegroup.creditclub.pos.CardMainMenuActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.appzonegroup.creditclub.pos.PreAuthActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:label="Pre Auth"
            android:launchMode="singleTask"
            android:parentActivityName="com.appzonegroup.creditclub.pos.CardMainMenuActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.appzonegroup.creditclub.pos.CashBackActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:label="Cash Back"
            android:launchMode="singleTask"
            android:parentActivityName="com.appzonegroup.creditclub.pos.CardMainMenuActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.appzonegroup.creditclub.pos.CashAdvanceActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:label="Cash Advance"
            android:launchMode="singleTask"
            android:parentActivityName="com.appzonegroup.creditclub.pos.CardMainMenuActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.appzonegroup.creditclub.pos.UnsettledTransactionsActivity"
            android:exported="true"
            android:label="Pending Confirmations"
            android:parentActivityName="com.appzonegroup.creditclub.pos.CardMainMenuActivity" />
        <activity
            android:name="com.appzonegroup.creditclub.pos.ReprintMenuActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.appzonegroup.creditclub.pos.ReprintAnyActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".MiniStatementActivity"
            android:label="@string/title_activity_basic_mini_statement"
            android:parentActivityName=".CreditClubSubMenuActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appzonegroup.app.fasttrack.CreditClubSubMenuActivity" />
        </activity>

        <service
            android:name="com.appzonegroup.creditclub.pos.service.DownloadService"
            android:exported="false" />
        <service
            android:name="com.appzonegroup.creditclub.pos.service.SyncService"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.esafirm.imagepicker.features.ImagePickerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--<activity
            android:name=".CreditClubMainMenuActivity"
            android:screenOrientation="portrait"
            android:label="CreditClub">

        </activity>
        <activity
            android:name=".OnlineActivity"
            android:parentActivityName=".CreditClubMainMenuActivity"
            android:screenOrientation="portrait"
            android:label="Online Functions">
        </activity>
        <activity
            android:name=".ChangeCustomerPinActivity"
            android:parentActivityName=".CreditClubMainMenuActivity"
            android:screenOrientation="portrait"
            android:label="Change Customer PIN">
        </activity>
        <activity
            android:name=".ChangePinActivity"
            android:parentActivityName=".CreditClubMainMenuActivity"
            android:screenOrientation="portrait"
            android:label="Change Agent PIN">
        </activity>-->

        <!--<provider-->
        <!--android:name="androidx.core.content.FileProvider"-->
        <!--android:authorities="${applicationId}.provider"-->
        <!--android:exported="false"-->
        <!--android:grantUriPermissions="true">-->
        <!--<meta-data-->
        <!--android:name="android.support.FILE_PROVIDER_PATHS"-->
        <!--android:resource="@xml/provider_paths"/>-->
        <!--</provider>-->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.imagepicker.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>